* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
}

.heroes-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

@keyframes fade {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% { 
    opacity: 1;
    transform: scale(1);
  }
}
.hero-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 20px;
  text-align: center;
  background-color: gold;
  padding: 20px;
  flex-basis: 30%;
  min-height: 300px;
  border: 1px solid #333;
  border-radius: 40px;
  animation: fade 0.5s ease-in-out;
}
.hero-avatar {
  width: 70px;
  height: 100px;
  border-radius: 10px;
  margin-bottom: 10px;
  object-fit: cover;
}
.hero-name {
  font-size: 18px;
  margin-bottom: 10px;
}
.hero-live-name {
  margin-bottom: 10px;
}
.hero-status {
  font-weight: bold;
  margin-bottom: 10px;
}
.search {
  width: 50%;
  margin-left: 20px;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid gold;
  outline: none;
}
